@font-face {
  font-family: "HelveticaNeue-Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot");
  src: url("../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.8; }

*:-moz-placeholder {
  color: #000000;
  opacity: 0.8; }

*::-moz-placeholder {
  color: #000000;
  opacity: 0.8; }

*:-ms-input-placeholder {
  color: #000000;
  opacity: 0.8; }

::-webkit-scrollbar {
  width: 6px;
  background: none; }

::-webkit-scrollbar-track {
  background: none;
  border-radius: 50px; }

::-webkit-scrollbar-thumb {
  background: #d3d7da;
  border-radius: 50px;
  opacity: 0.29; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000000; }

body input:required:valid,
body textarea:required:valid {
  color: #505050; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  outline: none;
  text-decoration: none; }

a[href^="tel"] {
  color: inherit;
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  position: relative;
  line-height: normal;
  background: #f1f1f1; }

img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

input, textarea {
  border: none;
  font-size: 16px;
  outline: none;
  color: #505050; }

svg, circle {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -o-object-fit: contain;
     object-fit: contain; }

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent; }

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.count-pink {
  width: 31px;
  height: 31px;
  background-color: #ff503f;
  border-radius: 50%;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
  color: #ffffff;
  font-family: "HelveticaNeue-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 31px;
  text-align: center;
  letter-spacing: -0.4px;
  position: relative;
  top: -12px;
  right: -5px; }

.count-gray {
  position: relative;
  top: -12px;
  right: -5px;
  width: 31px;
  height: 31px;
  background: #adadad;
  color: #ffffff;
  font-family: "HelveticaNeue-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border-radius: 50%;
  line-height: 31px;
  text-align: center;
  letter-spacing: -0.4px; }

.burger {
  margin: 0 auto;
  display: none;
  position: relative;
  width: 40px;
  height: 40px; }
  .burger-line {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 5px;
    width: 30px;
    background: #787878;
    border-radius: 4px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  .burger-top {
    top: 8px; }
  .burger-center {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%; }
  .burger-bottom {
    bottom: 8px; }
  .burger.active .burger-top {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
            transform: translate(-50%, -50%) rotate(225deg); }
  .burger.active .burger-center {
    opacity: 0; }
  .burger.active .burger-bottom {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-225deg);
            transform: translate(-50%, -50%) rotate(-225deg); }

.header {
  background-color: #1a1f23;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.04)));
  background-image: linear-gradient(rgba(255, 255, 255, 0.04));
  width: 130px;
  padding: 30px 0 0;
  height: 100vh;
  overflow-y: auto; }
  .header-user {
    display: block; }
  .header-relative {
    position: relative; }
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: calc(100vh - 198px); }
  .header-user {
    padding: 0 20px;
    position: relative; }
  .header-img {
    border-radius: 50%;
    width: 88px;
    height: 88px;
    margin-bottom: 15px; }
  .header-number {
    position: absolute;
    right: 20px;
    top: -9px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    z-index: 1; }
  .header-link {
    position: relative;
    padding: 16px 0 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
    .header-link:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 100%;
      background: #ff503f;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      border-radius: 0 5px 5px 0; }
    .header-link.active:before, .header-link:hover:before {
      width: 4px; }
    .header-link.active svg, .header-link.active circle:first-child, .header-link:hover svg, .header-link:hover circle:first-child {
      fill: #ff503f !important; }
    .header-link.active .header-text, .header-link:hover .header-text {
      color: #ffffff; }
    .header-link .header-number {
      right: -22px;
      top: -17px; }
  .header-span {
    width: 31px;
    height: 31px;
    background-color: #adadad;
    position: absolute;
    right: -23px;
    top: -23px;
    color: #ffffff;
    font-family: "HelveticaNeue-Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.4px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1; }
  .header-text {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
    color: #787878;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.45px;
    margin-top: 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .header-text-white {
      color: #ffffff; }
  .header-block {
    width: 33px;
    position: relative;
    height: 35px; }
  .header-list {
    margin-bottom: 8px; }
    .header-list .ellipsis {
      padding: 10px 15px; }

.ellipsis {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto; }
  .ellipsis-circle {
    border-radius: 50%;
    background: #787878;
    height: 5px;
    width: 5px;
    margin: 0 2px; }

.btn {
  color: #4b4b4b;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.4px;
  border: 1px solid rgba(164, 164, 164, 0.53);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.52);
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.52);
  line-height: 38px;
  padding: 0 21px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .btn-reload, .btn-green, .btn-add, .btn-circle {
    width: 40px;
    height: 40px;
    background: #ff503f;
    border-radius: 50%;
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative; }
    .btn-reload-icon, .btn-green-icon, .btn-add-icon, .btn-circle-icon {
      width: 17px;
      height: 15px;
      -o-object-fit: contain;
         object-fit: contain; }
  .btn-green {
    background: #aacc4e; }
    .btn-green-arrow {
      width: 10px;
      height: 6px; }
  .btn-chat {
    line-height: 1;
    height: 40px; }
    .btn-chat-icon {
      width: 18px;
      height: 18px;
      -o-object-fit: contain;
         object-fit: contain; }
    .btn-chat-text {
      text-shadow: 0 1px 2px rgba(255, 255, 255, 0.31);
      color: #4b4b4b;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: -0.33px;
      margin: 0 6px; }
  .btn-add {
    margin: 0 0 0 11px; }
    .btn-add:before, .btn-add:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 11px;
      height: 3px;
      background: #ffffff; }
    .btn-add:after {
      width: 3px;
      height: 11px; }
  .btn-span {
    font-weight: 300;
    margin-left: 5px;
    margin-right: 14px; }
  .btn-circle {
    width: 34px;
    height: 34px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.52);
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.52);
    border: 1px solid rgba(164, 164, 164, 0.53);
    background: none;
    margin: 0 0 0 7px;
    color: #a6a6a6;
    letter-spacing: -0.3px;
    font-size: 12px;
    font-family: "HelveticaNeue-Bold", sans-serif;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.31);
    font-weight: 700; }
    .btn-circle-user {
      margin: 0; }
  .btn-text {
    color: #4b4b4b;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: -0.35px;
    text-transform: uppercase;
    margin-left: 8px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    white-space: nowrap; }
    .btn-text-span {
      font-weight: 300;
      letter-spacing: -0.33px; }

.btn-drop.active svg {
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1); }

.text-gray {
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.31);
  color: #c1c1c1;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.55px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.text-through {
  text-decoration: line-through;
  color: #838383;
  opacity: 0.5; }

.select {
  color: #4b4b4b;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -1px;
  border: 1px solid rgba(164, 164, 164, 0.53);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.52);
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.52);
  line-height: 38px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden; }
  .select-text, .select-arrow {
    position: absolute;
    left: 21px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .select-arrow {
    left: auto;
    right: 17px; }
    .select-arrow.active {
      -webkit-transform: translateY(-50%) scale(1, -1);
              transform: translateY(-50%) scale(1, -1); }
  .select select {
    z-index: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 38px;
    border: none;
    padding: 0 38px 0 108px;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    color: #4b4b4b;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.4px; }

.status-online, .status-offline {
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 12px;
  border: 2px solid #f9fafa;
  background-color: #aacc4e;
  border-radius: 50%; }

.status-offline {
  background: #c5c5c5; }

.main {
  width: calc(100% - 130px);
  min-height: 100vh; }

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 29px 30px 28px;
  width: 100%;
  border-bottom: 1px solid #d3d7da; }
  .top-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .top .btn {
    padding: 0 18px; }
  .top .btn-chat {
    padding: 4px 16px 0; }

.board {
  min-height: calc(100vh - 99px); }
  .board-link {
    -webkit-box-shadow: -0.6px 0.8px 1.5px 0 rgba(0, 0, 0, 0.06);
            box-shadow: -0.6px 0.8px 1.5px 0 rgba(0, 0, 0, 0.06);
    border-top: solid 0.5px #d3d7da;
    padding: 16px 30px;
    width: 100%;
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -1.2px;
    color: #4b4b4b; }
    .board-link-arrow {
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
      width: 10px;
      height: 15px;
      margin-left: 10px; }
  .board-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 130px; }
  .board-main {
    background: #ffffff;
    border-top: 1px solid #d3d7da;
    margin-top: -1px;
    padding: 30px;
    min-height: calc(100vh - 178px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .board-left {
    border: 1px solid rgba(212, 212, 212, 0.81);
    -webkit-box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.11);
            box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.11);
    width: calc(100% - 386px - 20px);
    margin-right: 20px; }
  .board-right {
    width: 386px;
    border: 1px solid rgba(212, 212, 212, 0.81);
    -webkit-box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.11);
            box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.11); }
  .board-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 25px 30px;
    border-bottom: 1px solid rgba(206, 206, 206, 0.42); }
  .board-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 15px; }
  .board-projects {
    height: calc(100vh - 332px - 55px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; }

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .tabs-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 22px 40px 16px 30px;
    -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.59);
            box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.59);
    border: 1px solid #d3d7da;
    background-color: #f8f8f8;
    border-top: none;
    cursor: pointer; }
    .tabs-list.active {
      background: #ffffff;
      border-color: transparent; }
  .tabs-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.31);
    color: #4b4b4b;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    position: relative;
    letter-spacing: -1.5px; }
  .tabs-clock {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.31);
    color: #4b4b4b;
    -o-object-fit: contain;
       object-fit: contain; }
  .tabs-send {
    margin-right: 12px;
    width: 46px;
    height: 39px;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-transform: rotate(-14deg);
            transform: rotate(-14deg); }

.card-flex {
  padding: 29px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #f1f2f3; }

.card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-width: 50%; }
  .card-row button {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .card-row button:hover {
      background: #ff503f;
      color: #ffffff; }
      .card-row button:hover svg {
        fill: #ffffff; }
      .card-row button:hover .btn-text {
        color: #ffffff; }
  .card-row:last-child {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 15px; }

.card-stock {
  background: #ff503f;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -1px;
  padding: 5px 7px 4px 7px;
  border-radius: 4px;
  margin-right: 13px;
  min-width: 57px;
  text-align: center; }
  .card-stock-span {
    font-size: 18px;
    letter-spacing: -0.45px; }
  .card-stock-disabled {
    color: #bebebe;
    border: 1px solid rgba(195, 195, 195, 0.53);
    background: none; }
  .card-stock-ready {
    color: #bebebe;
    border: 1px solid rgba(195, 195, 195, 0.53);
    background: none;
    font-size: 12px; }

.card-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  margin-left: 9px; }

.card-text {
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.31);
  color: #4b4b4b;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -1.4px;
  max-width: 380px;
  margin-top: 3px; }

.card-drop {
  display: none; }
  .card-drop .card-flex {
    padding: 11px 30px;
    background: #fafafa; }
  .card-drop .card-text {
    font-size: 20px;
    margin-top: 5px; }

.card .btn {
  line-height: 29px;
  font-size: 14px;
  padding: 2px 18px 0;
  text-transform: uppercase;
  letter-spacing: -0.35px; }

.card-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0; }

.card-user {
  width: 33px;
  height: 33px;
  margin-right: 5px;
  position: relative; }
  .card-user-img {
    border-radius: 50%;
    overflow: hidden; }

.card-check {
  width: 16px;
  height: 15px;
  margin: 4px 8px 0; }

.users {
  height: calc(100vh - 295px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  .users-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 25px 30px;
    border-bottom: solid 0.5px rgba(212, 212, 212, 0.81); }
    .users-row:last-child {
      border-bottom: none; }
  .users-col {
    position: relative; }
  .users-img {
    border-radius: 50%;
    width: 41px;
    height: 41px;
    margin-right: 5px; }
  .users-top {
    font-family: "Roboto", sans-serif;
    text-shadow: 0px 0.5px 1px rgba(255, 255, 255, 0.31);
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.46px;
    color: #4b4b4b; }
  .users-light {
    color: #909090; }
  .users-bottom {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    letter-spacing: -0.32px;
    color: #9c9c9c;
    opacity: 0.7;
    text-shadow: 0px 0.5px 1px rgba(255, 255, 255, 0.31);
    font-weight: 400;
    margin-top: 5px; }

/*==========  Desktop First  ==========*/
@media only screen and (max-width: 1200px) {
  .board-top {
    padding-right: 30px; }
  .header {
    width: 100px; }
  .main {
    width: calc(100% - 100px); }
  .header-user {
    padding: 0 10px; }
  .header-img {
    margin: 0 auto 15px;
    width: 60px;
    height: 60px; }
  .count-pink, .header-span, .count-gray {
    width: 25px;
    height: 25px;
    font-size: 14px;
    line-height: 25px; }
  .header-span {
    right: -17px;
    top: -15px; }
  .header-number {
    right: 15px; }
  .header-link .header-number {
    right: -10px;
    top: -10px; }
  .ellipsis {
    padding: 10px; }
  .header-link svg {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  .header-text {
    font-size: 16px; }
  .header-list .ellipsis {
    padding: 5px 10px; }
  .header-nav {
    height: calc(100vh - 130px);
    padding-bottom: 20px; }
  .users-row, .board-search {
    padding: 25px 15px; }
  .card-flex {
    padding: 29px 15px; }
  .board-link {
    padding: 16px 15px; }
  .board-right {
    max-width: 360px;
    width: 100%; }
  .board-left {
    width: calc(100% - 360px - 15px);
    margin-right: 15px; }
  .card-text {
    font-size: 20px; }
  .card-drop .card-text {
    font-size: 18px; }
  .card-drop .card-flex {
    padding: 21px 15px; }
  .board-main {
    padding: 15px; }
  .board-projects {
    height: calc(100vh - 332px - 25px); }
  .users {
    height: calc(100vh - 265px); }
  .card-stock {
    font-size: 18px;
    min-width: 50px; }
  .card-stock-ready {
    font-size: 12px; } }

@media only screen and (max-width: 1024px) {
  .tabs-text {
    font-size: 18px; }
  .tabs-send {
    width: 26px;
    height: 26px; }
  .tabs-clock {
    width: 30px;
    height: 30px; }
  .tabs-list {
    padding: 20px 25px 14px 25px; }
  .text-gray {
    font-size: 14px; }
  .board-search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .board-row {
    margin-top: 15px; }
  .card-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .card-row {
    width: 100%; }
  .card-row:last-child {
    padding: 15px 0 0 0; }
  .card-flex {
    padding: 15px; }
  .board-link {
    font-size: 16px; }
  .top {
    padding: 15px; }
  .board-projects {
    height: calc(100vh - 325px); }
  .users {
    height: calc(100vh - 221px); }
  .users-row, .board-search {
    padding: 15px; }
  .users-top {
    font-size: 16px; }
  .users-bottom {
    font-size: 12px; } }

@media only screen and (max-width: 993px) {
  .board-right {
    max-width: 275px; }
  .board-left {
    width: calc(100% - 275px - 15px); }
  .card-text {
    font-size: 18px; }
  .card-text {
    margin-top: 5px; }
  .card-drop .card-text {
    font-size: 16px;
    margin-top: 7px; } }

@media only screen and (max-width: 767px) {
  .header {
    padding: 16px 0 15px 0;
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    width: 70px; }
  .burger {
    display: block;
    z-index: 9; }
  .header-mob {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #1A1F22;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.04)));
    background-image: linear-gradient(rgba(255, 255, 255, 0.04));
    height: 100%;
    z-index: 8;
    padding-top: 30px;
    padding-bottom: 60px;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .header-mob.active {
      opacity: 1;
      pointer-events: auto; }
  .header-link {
    padding: 10px 0;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .header-link:before {
      top: auto;
      bottom: 0;
      height: 0;
      width: 100%; }
    .header-link.active:before, .header-link:hover:before {
      height: 4px;
      width: 100%; }
  .header-text {
    margin: 0 10px; }
  .header-nav {
    width: 100%;
    padding: 15px;
    height: auto;
    min-height: auto; }
  .header-list .ellipsis {
    margin: 10px auto; }
  .header-user {
    padding: 0 15px;
    max-width: 90px;
    margin: 0 auto; }
  .header-img {
    margin: 0; }
  .header-number {
    right: 10px; }
  .top {
    padding: 0 0 15px 70px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .top-row {
    padding: 15px 15px 0 15px; }
  .main {
    width: 100%; }
  .board-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .board-left, .board-right {
    width: 100%;
    max-width: 100%;
    margin: 0; }
  .board-left {
    margin: 0 0 20px 0; }
  .users, .board-projects {
    max-height: 356px;
    height: 100%; }
  .tabs-list {
    padding: 20px 20px 14px 15px; } }

@media only screen and (max-width: 600px) {
  .board-top .text-gray, .select-text {
    display: none; }
  .select select {
    padding: 0 38px 0 17px; }
  .tabs-clock {
    width: 20px;
    height: 20px; }
  .tabs-clock {
    margin-right: 10px; }
  .tabs-text {
    font-size: 16px; }
  .tabs-send {
    width: 20px;
    height: 20px; }
  .tabs .count-gray, .tabs .count-pink {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 7px;
    height: 7px;
    color: transparent;
    text-shadow: none; } }
